@media screen and (max-width: 768px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 100% !important;
  }


  html {
      height: 100%;
      width: 100%;
      margin: 0;
      padding: 0;
      overflow-x: hidden;
  }
  
  .header {
    border-bottom: 2px solid gray;
  }

  .logo {
    height: 70px;
    width: 140px;
  }

  .nav-title {
    position: relative;
    color: white;
    font-size: 22px;
    top: 6px;
    right: 130px;
    font-weight: bold;
  }

  .nav {
    font-size: 17px;
    position: relative;
    left: 3rem;
  }

  .nav li {
    position: relative;
    right: 50px;
    padding: 8px 12px;
    color: #ccc;
    text-decoration: none;
    transition: color 0.3s ease;
  }

  .nav li a {
    font-size: 20px;
    position: relative;
    left: 10px;
  }

  .nav li::after {
    content: "";
    position: absolute;
    width: 15%;
    height: 2px;
    background-color: transparent;
    transition: background-color 0.3s ease, transform 0.3s ease;
    transform: scaleX(0);
    transform-origin: right;
  }

  .nav li:hover::after {
    background-color: #fff;
    transform: scaleX(1);
    transform-origin: left;
  }

  .nav li:hover {
    color: #fff;
  }

  .nav li a:hover {
    font-weight: 800;
  }

  #home {
    overflow: hidden;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    height: 550px;
  }

  .main-img {
    position: relative;
    left: 0px;
    top: 40px;
    height: 500px;
  }

  .info {
    width: 500px;
    padding: 10px;
  }

  .info div {
    position: relative;
    top: 140px;
    left: 20px;
  }

  .title {
    position: absolute;
    top: 50px;
    font-size: 30px;
    color: white;
    font-weight: bold;
    font-size: 50px;
    width: 400px;
  }

  .typewriter {
    position: absolute;
    top: 140px;
    width: 800px;
    font-size: 26.5px;
    font-weight: 600;
  }

  .resume a {
    position: absolute;
    right: 300px;
    padding: 15px;
    border-radius: 20px;
    background: linear-gradient(to right, #4458dc 0%, #854fee 100%),
      radial-gradient(circle at top left, #4458dc, #854fee);
  }

  .resume a:hover {
    /* background: white; */
    background: linear-gradient(to right, #42f0b9 0%, #cb4fee 100%),
      radial-gradient(circle at top left, #4458dc, #854fee);
    color: black;
    font-weight: 600;
  }

  /* about */

  .about-img {
    position: relative;
    right: 200px;
    margin-top: 30px;
    display: none;
  }

  .main_title {
    position: relative;
    top: 0px;
    left: 20px;
    padding: 60px;
    width: 700px;
    height: 400px;
  }

  .main_title h1 {
    font-weight: bolder;
  }

  /* skills */

  .skill-gridy {
    display: grid;
    grid-template-columns: auto auto;
    position: relative;
    left: 100px;
    gap: 30px 30px;
    padding: 40px;
    width: 600px;
  }

  .skills {
    width: 560px;
    position: relative;
    left: 180px;
    font: bolder;
  }

  .containers {
    display: grid;
    grid-template-columns: auto auto;
    padding: 40px;
    width: 900px;
  }

  #skill {
    margin-top: 10px;
  }

  #skill .progress {
    height: 5px;
    width: 240px;
    border-radius: 5px;
  }

  #skill .progress .progress-bar {
    border-radius: 5px;
    animation: bar 4s ease-in-out forwards;
  }

  #skill .nav-pills .nav-link {
    color: var(--dark);
  }

  #skill .nav-pills .nav-link.active {
    color: #ffffff;
  }

  #skill .tab-content hr {
    width: 30px;
  }

  /* experience */
  .experience {
    position: relative;
    bottom: 0px;
    margin-top: 80px;
    padding: 20px;
    font-size: 40px;
    font-weight: bold;
    left: 250px;
    width: 200px;
  }

  .experienced {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-around;
    margin-left: 20px;
    margin-top: 50px;
  }

  /* service */
  .service-div {
    margin-top: 120px;
  }

  .feature_item {
    padding: 45px 25px;
    text-align: center;
    background: #f9f9fd;
    cursor: pointer;
    transition: all 0.4s ease 0s;
  }

  .feature_inner {
    margin-top: 50px;
  }

  .feature_item img {
    margin-bottom: 35px;
  }

  .feature_item h4 {
    font-size: 20px;
    margin-bottom: 20px;
    text-transform: uppercase;
  }

  .feature_item p {
    margin-bottom: 0px;
  }

  .feature_item:hover {
    box-shadow: 0px 15px 30px rgba(41, 50, 181, 0.3);
    background: #fff;
  }

  .main_title h2 {
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 15px;
    line-height: 50px;
    text-transform: uppercase;
  }

  .main_title p {
    margin-bottom: 0px;
    color: gray;
  }

  .service_title {
    position: relative;
    left: 0px;
    text-align: center;
    margin-left: 50px;
    width: 600px;
    color: gray;
  }

  .repo{
    position: relative;
    left: 240px;
    display: flex;
    flex-wrap: wrap;
}

.repo img{
   height: 100px;
}

.repo p{
    font-size: 20px;
    font-weight: 600;
    margin-top: 38px;
}
}


/* ================================================================================================== */
/* =================================================================================================== */

@media screen and (max-width: 500px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 100% !important;
  }


  html {
      height: 100%;
      width: 100%;
      margin: 0;
      padding: 0;
      overflow-x: hidden;
  }
  
  .header {
    border-bottom: 2px solid gray;
  }

  .logo {
    height: 70px;
    width: 140px;
  }

  .nav-title {
    position: relative;
    color: white;
    font-size: 22px;
    top: 6px;
    right: 130px;
    font-weight: bold;
    display: none;
  }

  .nav {
    font-size: 17px;
    position: relative;
    left: 3rem;
  }

  .nav li {
    position: relative;
    right: 50px;
    padding: 8px 12px;
    color: #ccc;
    text-decoration: none;
    transition: color 0.3s ease;
  }

  .nav li a {
    font-size: 20px;
    position: relative;
    left: 10px;
  }

  .nav li::after {
    content: "";
    position: absolute;
    width: 15%;
    height: 2px;
    background-color: transparent;
    transition: background-color 0.3s ease, transform 0.3s ease;
    transform: scaleX(0);
    transform-origin: right;
  }

  .nav li:hover::after {
    background-color: #fff;
    transform: scaleX(1);
    transform-origin: left;
  }

  .nav li:hover {
    color: #fff;
  }

  .nav li a:hover {
    font-weight: 800;
  }

  #home {
    overflow: hidden;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    height: 550px;
  }

  .main-img {
    position: relative;
    left: 0px;
    top: 40px;
    height: 500px;
  }

  .info {
    width: 500px;
    padding: 10px;
  }

  .info div {
    position: relative;
    top: 140px;
    left: 20px;
  }

  .title {
    position: absolute;
    top: 50px;
    font-size: 30px;
    color: white;
    font-weight: bold;
    font-size: 40px;
    width: 400px;
  }

  .typewriter {
    position: absolute;
    top: 120px;
    font-size: 30px;
    font-weight: 600;
  }

  .resume a {
    position: absolute;
    top: 30px;
    right: 150px;
    padding: 10px;
    border-radius: 20px;
    background: linear-gradient(to right, #4458dc 0%, #854fee 100%),
      radial-gradient(circle at top left, #4458dc, #854fee);
  }

  .resume a:hover {
    /* background: white; */
    background: linear-gradient(to right, #42f0b9 0%, #cb4fee 100%),
      radial-gradient(circle at top left, #4458dc, #854fee);
    color: black;
    font-weight: 600;
  }

  /* about */

  .about-img {
    position: relative;
    right: 200px;
    margin-top: 30px;
    display: none;
  }

  .main_title {
    position: relative;
    top: 0px;
    left: 20px;
    padding: 60px;
    width: 700px;
    height: 400px;
  }

  .main_title h1 {
    font-weight: bolder;
  }

  /* skills */

  .skill-gridy {
    display: grid;
    grid-template-columns: auto;
    position: relative;
    left: 100px;
    top: 100px;
    gap: 30px 30px;
    padding: 40px;
    width: 300px;
  }

  .skills {
    width: 560px;
    position: relative;
    left: 60px;
    top: 130px;
    margin-top: 60px;
    font-size: 40px;
    font-weight: bold;
  }

  .containers {
    display: grid;
    grid-template-columns: auto;
    padding: 40px;
    width: 900px;
  }

  #skill {
    margin-top: 10px;
  }

  #skill .progress {
    height: 5px;
    width: 240px;
    border-radius: 5px;
  }

  #skill .progress .progress-bar {
    border-radius: 5px;
    animation: bar 4s ease-in-out forwards;
  }

  #skill .nav-pills .nav-link {
    color: var(--dark);
  }

  #skill .nav-pills .nav-link.active {
    color: #ffffff;
  }

  #skill .tab-content hr {
    width: 30px;
  }

  /* experience */
  .experience {
    position: relative;
    bottom: 0px;
    margin-top: 160px;
    padding: 20px;
    font-size: 40px;
    font-weight: bold;
    left: 120px;
    width: 200px;
  }

  .experienced {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-around;
    margin-left: 20px;
    margin-top: 50px;
  }

  /* service */
  .service-div {
    margin-top: 120px;
  }

  .feature_item {
    padding: 45px 25px;
    text-align: center;
    background: #f9f9fd;
    cursor: pointer;
    transition: all 0.4s ease 0s;
  }

  .feature_inner {
    margin-top: 50px;
    margin-left: 10px;
  }

  .feature_item{
    margin-top: 10px;
  }

  .feature_item img {
    margin-bottom: 35px;
  }

  .feature_item h4 {
    font-size: 20px;
    margin-bottom: 20px;
    text-transform: uppercase;
  }

  .feature_item p {
    margin-bottom: 0px;
  }

  .feature_item:hover {
    box-shadow: 0px 15px 30px rgba(41, 50, 181, 0.3);
    background: #fff;
  }

  .main_title h2 {
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 15px;
    line-height: 50px;
    text-transform: uppercase;
  }

  .main_title p {
    margin-bottom: 0px;
    color: gray;
  }

  .service_title {
    position: relative;
    left: 0px;
    text-align: center;
    margin-left: 5px;
    width: 600px;
    color: gray;
  }

  .repo{
    position: relative;
    left: 100px;
    display: flex;
    flex-wrap: wrap;
}

.repo img{
   height: 100px;
}

.repo p{
    font-size: 20px;
    font-weight: 600;
    margin-top: 38px;
}
}


